body{
    background-color: antiquewhite;
}
header{
    display: flex;
    justify-content: end;
    padding: 10px;
}
.dark-mode{
    background-color: midnightblue;
    color: antiquewhite;
}
.blog-content{
    display: flex;
}
.blog-img,
.blog-form{
    width: 48%;
    margin: 5px;
    border: 5px double black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blog-form h2{
    text-align: center;
    font-size: 50px;
}
form div{
    margin:30px;
}
form div input{
    width: 100%;
}
footer{
    font-size: large;
    display: flex;
    justify-content: space-around;
}
footer > *{
    padding: 25px;
}

/* Allow the img and form content to display vertically on smaller screens. */
@media screen and (max-width: 720px){
    .blog-content{
        flex-direction: column;
    }
    .blog-img,
    .blog-form{
        width: 100%;
       
    }
    
}


